//定义手机屏幕最大宽度
$device_max_width: 1150px;
$font_family: "Microsoft YaHei","宋体", Helvetica, Arial, sans-serif;
$font_size: 14px;
$line_height: 1.8em;
//导航条高度
$header_height: 2.5rem;
$background_color: #fff;
//字体颜色
$font_color: #333;
//链接颜色
$link_color: #222;
$link_hover_color: #04bee6;
//手指点击后高亮颜色
$tap_highlight_color: rgba(9, 174, 255, 0.5);
//定义常用颜色
$color_info: #428bca;
$color_success: #5cb85c;
$color_warning: #f90;
$color_danger: #e33;

