@charset "UTF-8";
/*reset*/
* { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -o-box-sizing: content-box; -ms-box-sizing: content-box; box-sizing: content-box; }

html, body { width: 100%; height: 100%; font-family: sans-serif; -webkit-text-size-adjust: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font: inherit; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

img { border: 0; vertical-align: middle; }

table { border-collapse: collapse; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: none; }

audio, video, canvas, progress { display: inline-block; vertical-align: baseline; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }

sup { top: -.5em; }

sub { bottom: -.25em; }

/*common*/
body { font-family: "Microsoft YaHei", "宋体", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.8em; background-color: #fff; color: #333; min-width: 1200px; }

a { color: #222; text-decoration: none; -webkit-tap-highlight-color: rgba(9, 174, 255, 0.5); }

a:hover { color: #04bee6; text-decoration: underline; }

.wrap { width: 1200px; margin: 0 auto; }

.mt { margin-top: 10px; }

.mt5 { margin-top: 5px; }

.mt10 { margin-top: 10px; }

.mt20 { margin-top: 20px; }

.mt30 { margin-top: 30px; }

img.fw { width: 100%; }

.fleft { float: left; }

.fright { float: right; }

.tleft { text-align: left; }

.tcenter { text-align: center; }

.tright { text-align: right; }

.clear { clear: both; }

.clearfix { zoom: 1; }

.clearfix:after { content: ""; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }

.hidden { display: none; }

.omit { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.oneline { width: 100%; height: 1.5em; line-height: 1.5em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.twoline { width: 100%; height: 2.7em; line-height: 1.4em; overflow: hidden; }

.hr { border-top: 1px solid #ddd; margin: 0.5em 0; }

.hr2 { border-top: 1px dashed #ddd; margin: 0.5em 0; }

.relative { position: relative; }

img.photo { border: 1px solid #ddd; }

img.photo2 { border: 1px solid #ddd; padding: 2px; }

.btn { display: inline-block; padding: 0.4em 1em; border: 1px solid #ddd; border-radius: 6px; cursor: pointer; }
.btn-group .btn { border-radius: 0; float: left; }
.btn-group .btn:first-child { border-top-left-radius: 6px; border-bottom-left-radius: 6px; }
.btn-group .btn:last-child { border-top-right-radius: 6px; border-bottom-right-radius: 6px; }

.btn-full-width { width: 100%; text-align: center; }

.btn-default { color: #333; background: #fff; }

.btn-info { color: #fff; background: #428bca; border-color: #357ebd; }

.btn-success { color: #fff; background: #5cb85c; border-color: #4cae4c; }

.btn-warning { color: #fff; background: #f90; border-color: #e68a00; }

.btn-danger { color: #fff; background: #e33; border-color: #ec1b1b; }

/* color*/
.black, .black a, a.black:link, a.black:visited { color: #000000; }

.white, .white a, a.white:link, a.white:visited { color: #ffffff; }

.gray, .gray a, a.gray:link, a.gray:visited { color: #888888; }

.silver, .silver a, a.silver:link, a.silver:visited { color: #cccccc; }

.red, .red a, a.red:link, a.red:visited { color: #cc0000; }

.maroon, .maroon a, a.maroon:link, a.maroon:visited { color: #880000; }

.lime, .lime a, a.lime:link, a.lime:visited { color: #00ff00; }

.green, .green a, a.green:link, a.green:visited { color: #008800; }

.blue, .blue a, a.blue:link, a.blue:visited { color: #0000ff; }

.navy, .navy a, a.navy:link, a.navy:visited { color: #000088; }

.yellow, .yellow a, a.yellow:link, a.yellow:visited { color: #ffff00; }

.olive, .olive a, a.olive:link, a.olive:visited { color: #888800; }

.teal, .teal a, a.teal:link, a.teal:visited { color: #008888; }

.fuchsia, .fuchsia a, a.fuchsia:link, a.fuchsia:visited { color: #ff00ff; }

.purple, .purple a, a.purple:link, a.purple:visited { color: #880088; }

.orange, .orange a, a.orange:link, a.orange:visited { color: #ff9900; }

.cyan, .cyan a, a.cyan:link, a.cyan:visited { color: #04bee6; }

.magenta, .magenta a, a.magenta:link, a.magenta:visited { color: #f3048b; }

/*Glyphicon*/
@font-face { font-family: 'Glyphicons'; src: url("../fonts/glyphicons-halflings-regular.eot"); src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: 'Glyphicons'; font-style: normal; font-weight: normal; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before { content: "\2a"; }

.glyphicon-plus:before { content: "\2b"; }

.glyphicon-euro:before, .glyphicon-eur:before { content: "\20ac"; }

.glyphicon-minus:before { content: "\2212"; }

.glyphicon-cloud:before { content: "\2601"; }

.glyphicon-envelope:before { content: "\2709"; }

.glyphicon-pencil:before { content: "\270f"; }

.glyphicon-glass:before { content: "\e001"; }

.glyphicon-music:before { content: "\e002"; }

.glyphicon-search:before { content: "\e003"; }

.glyphicon-heart:before { content: "\e005"; }

.glyphicon-star:before { content: "\e006"; }

.glyphicon-star-empty:before { content: "\e007"; }

.glyphicon-user:before { content: "\e008"; }

.glyphicon-film:before { content: "\e009"; }

.glyphicon-th-large:before { content: "\e010"; }

.glyphicon-th:before { content: "\e011"; }

.glyphicon-th-list:before { content: "\e012"; }

.glyphicon-ok:before { content: "\e013"; }

.glyphicon-remove:before { content: "\e014"; }

.glyphicon-zoom-in:before { content: "\e015"; }

.glyphicon-zoom-out:before { content: "\e016"; }

.glyphicon-off:before { content: "\e017"; }

.glyphicon-signal:before { content: "\e018"; }

.glyphicon-cog:before { content: "\e019"; }

.glyphicon-trash:before { content: "\e020"; }

.glyphicon-home:before { content: "\e021"; }

.glyphicon-file:before { content: "\e022"; }

.glyphicon-time:before { content: "\e023"; }

.glyphicon-road:before { content: "\e024"; }

.glyphicon-download-alt:before { content: "\e025"; }

.glyphicon-download:before { content: "\e026"; }

.glyphicon-upload:before { content: "\e027"; }

.glyphicon-inbox:before { content: "\e028"; }

.glyphicon-play-circle:before { content: "\e029"; }

.glyphicon-repeat:before { content: "\e030"; }

.glyphicon-refresh:before { content: "\e031"; }

.glyphicon-list-alt:before { content: "\e032"; }

.glyphicon-lock:before { content: "\e033"; }

.glyphicon-flag:before { content: "\e034"; }

.glyphicon-headphones:before { content: "\e035"; }

.glyphicon-volume-off:before { content: "\e036"; }

.glyphicon-volume-down:before { content: "\e037"; }

.glyphicon-volume-up:before { content: "\e038"; }

.glyphicon-qrcode:before { content: "\e039"; }

.glyphicon-barcode:before { content: "\e040"; }

.glyphicon-tag:before { content: "\e041"; }

.glyphicon-tags:before { content: "\e042"; }

.glyphicon-book:before { content: "\e043"; }

.glyphicon-bookmark:before { content: "\e044"; }

.glyphicon-print:before { content: "\e045"; }

.glyphicon-camera:before { content: "\e046"; }

.glyphicon-font:before { content: "\e047"; }

.glyphicon-bold:before { content: "\e048"; }

.glyphicon-italic:before { content: "\e049"; }

.glyphicon-text-height:before { content: "\e050"; }

.glyphicon-text-width:before { content: "\e051"; }

.glyphicon-align-left:before { content: "\e052"; }

.glyphicon-align-center:before { content: "\e053"; }

.glyphicon-align-right:before { content: "\e054"; }

.glyphicon-align-justify:before { content: "\e055"; }

.glyphicon-list:before { content: "\e056"; }

.glyphicon-indent-left:before { content: "\e057"; }

.glyphicon-indent-right:before { content: "\e058"; }

.glyphicon-facetime-video:before { content: "\e059"; }

.glyphicon-picture:before { content: "\e060"; }

.glyphicon-map-marker:before { content: "\e062"; }

.glyphicon-adjust:before { content: "\e063"; }

.glyphicon-tint:before { content: "\e064"; }

.glyphicon-edit:before { content: "\e065"; }

.glyphicon-share:before { content: "\e066"; }

.glyphicon-check:before { content: "\e067"; }

.glyphicon-move:before { content: "\e068"; }

.glyphicon-step-backward:before { content: "\e069"; }

.glyphicon-fast-backward:before { content: "\e070"; }

.glyphicon-backward:before { content: "\e071"; }

.glyphicon-play:before { content: "\e072"; }

.glyphicon-pause:before { content: "\e073"; }

.glyphicon-stop:before { content: "\e074"; }

.glyphicon-forward:before { content: "\e075"; }

.glyphicon-fast-forward:before { content: "\e076"; }

.glyphicon-step-forward:before { content: "\e077"; }

.glyphicon-eject:before { content: "\e078"; }

.glyphicon-chevron-left:before { content: "\e079"; }

.glyphicon-chevron-right:before { content: "\e080"; }

.glyphicon-plus-sign:before { content: "\e081"; }

.glyphicon-minus-sign:before { content: "\e082"; }

.glyphicon-remove-sign:before { content: "\e083"; }

.glyphicon-ok-sign:before { content: "\e084"; }

.glyphicon-question-sign:before { content: "\e085"; }

.glyphicon-info-sign:before { content: "\e086"; }

.glyphicon-screenshot:before { content: "\e087"; }

.glyphicon-remove-circle:before { content: "\e088"; }

.glyphicon-ok-circle:before { content: "\e089"; }

.glyphicon-ban-circle:before { content: "\e090"; }

.glyphicon-arrow-left:before { content: "\e091"; }

.glyphicon-arrow-right:before { content: "\e092"; }

.glyphicon-arrow-up:before { content: "\e093"; }

.glyphicon-arrow-down:before { content: "\e094"; }

.glyphicon-share-alt:before { content: "\e095"; }

.glyphicon-resize-full:before { content: "\e096"; }

.glyphicon-resize-small:before { content: "\e097"; }

.glyphicon-exclamation-sign:before { content: "\e101"; }

.glyphicon-gift:before { content: "\e102"; }

.glyphicon-leaf:before { content: "\e103"; }

.glyphicon-fire:before { content: "\e104"; }

.glyphicon-eye-open:before { content: "\e105"; }

.glyphicon-eye-close:before { content: "\e106"; }

.glyphicon-warning-sign:before { content: "\e107"; }

.glyphicon-plane:before { content: "\e108"; }

.glyphicon-calendar:before { content: "\e109"; }

.glyphicon-random:before { content: "\e110"; }

.glyphicon-comment:before { content: "\e111"; }

.glyphicon-magnet:before { content: "\e112"; }

.glyphicon-chevron-up:before { content: "\e113"; }

.glyphicon-chevron-down:before { content: "\e114"; }

.glyphicon-retweet:before { content: "\e115"; }

.glyphicon-shopping-cart:before { content: "\e116"; }

.glyphicon-folder-close:before { content: "\e117"; }

.glyphicon-folder-open:before { content: "\e118"; }

.glyphicon-resize-vertical:before { content: "\e119"; }

.glyphicon-resize-horizontal:before { content: "\e120"; }

.glyphicon-hdd:before { content: "\e121"; }

.glyphicon-bullhorn:before { content: "\e122"; }

.glyphicon-bell:before { content: "\e123"; }

.glyphicon-certificate:before { content: "\e124"; }

.glyphicon-thumbs-up:before { content: "\e125"; }

.glyphicon-thumbs-down:before { content: "\e126"; }

.glyphicon-hand-right:before { content: "\e127"; }

.glyphicon-hand-left:before { content: "\e128"; }

.glyphicon-hand-up:before { content: "\e129"; }

.glyphicon-hand-down:before { content: "\e130"; }

.glyphicon-circle-arrow-right:before { content: "\e131"; }

.glyphicon-circle-arrow-left:before { content: "\e132"; }

.glyphicon-circle-arrow-up:before { content: "\e133"; }

.glyphicon-circle-arrow-down:before { content: "\e134"; }

.glyphicon-globe:before { content: "\e135"; }

.glyphicon-wrench:before { content: "\e136"; }

.glyphicon-tasks:before { content: "\e137"; }

.glyphicon-filter:before { content: "\e138"; }

.glyphicon-briefcase:before { content: "\e139"; }

.glyphicon-fullscreen:before { content: "\e140"; }

.glyphicon-dashboard:before { content: "\e141"; }

.glyphicon-paperclip:before { content: "\e142"; }

.glyphicon-heart-empty:before { content: "\e143"; }

.glyphicon-link:before { content: "\e144"; }

.glyphicon-phone:before { content: "\e145"; }

.glyphicon-pushpin:before { content: "\e146"; }

.glyphicon-usd:before { content: "\e148"; }

.glyphicon-gbp:before { content: "\e149"; }

.glyphicon-sort:before { content: "\e150"; }

.glyphicon-sort-by-alphabet:before { content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before { content: "\e152"; }

.glyphicon-sort-by-order:before { content: "\e153"; }

.glyphicon-sort-by-order-alt:before { content: "\e154"; }

.glyphicon-sort-by-attributes:before { content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before { content: "\e156"; }

.glyphicon-unchecked:before { content: "\e157"; }

.glyphicon-expand:before { content: "\e158"; }

.glyphicon-collapse-down:before { content: "\e159"; }

.glyphicon-collapse-up:before { content: "\e160"; }

.glyphicon-log-in:before { content: "\e161"; }

.glyphicon-flash:before { content: "\e162"; }

.glyphicon-log-out:before { content: "\e163"; }

.glyphicon-new-window:before { content: "\e164"; }

.glyphicon-record:before { content: "\e165"; }

.glyphicon-save:before { content: "\e166"; }

.glyphicon-open:before { content: "\e167"; }

.glyphicon-saved:before { content: "\e168"; }

.glyphicon-import:before { content: "\e169"; }

.glyphicon-export:before { content: "\e170"; }

.glyphicon-send:before { content: "\e171"; }

.glyphicon-floppy-disk:before { content: "\e172"; }

.glyphicon-floppy-saved:before { content: "\e173"; }

.glyphicon-floppy-remove:before { content: "\e174"; }

.glyphicon-floppy-save:before { content: "\e175"; }

.glyphicon-floppy-open:before { content: "\e176"; }

.glyphicon-credit-card:before { content: "\e177"; }

.glyphicon-transfer:before { content: "\e178"; }

.glyphicon-cutlery:before { content: "\e179"; }

.glyphicon-header:before { content: "\e180"; }

.glyphicon-compressed:before { content: "\e181"; }

.glyphicon-earphone:before { content: "\e182"; }

.glyphicon-phone-alt:before { content: "\e183"; }

.glyphicon-tower:before { content: "\e184"; }

.glyphicon-stats:before { content: "\e185"; }

.glyphicon-sd-video:before { content: "\e186"; }

.glyphicon-hd-video:before { content: "\e187"; }

.glyphicon-subtitles:before { content: "\e188"; }

.glyphicon-sound-stereo:before { content: "\e189"; }

.glyphicon-sound-dolby:before { content: "\e190"; }

.glyphicon-sound-5-1:before { content: "\e191"; }

.glyphicon-sound-6-1:before { content: "\e192"; }

.glyphicon-sound-7-1:before { content: "\e193"; }

.glyphicon-copyright-mark:before { content: "\e194"; }

.glyphicon-registration-mark:before { content: "\e195"; }

.glyphicon-cloud-download:before { content: "\e197"; }

.glyphicon-cloud-upload:before { content: "\e198"; }

.glyphicon-tree-conifer:before { content: "\e199"; }

.glyphicon-tree-deciduous:before { content: "\e200"; }

/*首页*/
.top-bar { padding: 0 20px; height: 30px; overflow: hidden; line-height: 30px; background: #ff7200; min-width: 1200px; color: #fff; }
.top-bar .nav-items { width: 60%; overflow: hidden; }
.top-bar a { color: #fff; margin: 0 10px; }
.top-bar .dl { margin: 0 30px; }
.top-bar .dl a { margin: 0 2px; }
.top-bar .fleft:nth-child(2) { margin-left: 20%; }

.dir-bar { clear: both; height: 70px; line-height: 70px; border-bottom: 1px solid #ddd; }
.dir-bar .logo { float: left; margin-right: 30px; }

.col-nav { position: fixed; top: 30px; left: calc((100% - 1200px) / 2); width: 130px; }
.col-nav nav a { display: inline-block; height: 15px; line-height: 18px; font-size: 16px; padding: 5px 8px; margin: 5px 10px; border-radius: 5px; }
.col-nav nav a span.icon-nav { float: left; margin-right: 10px; }
.col-nav nav a:hover { background: #f4f4f4; }

.col-main { float: left; width: 590px; margin-left: 170px; }

.col-side { float: right; width: 380px; }
.col-side[class*='fix-side'] { position: fixed; right: calc((100% - 1200px) / 2); bottom: 10px; }

.top-tick { position: relative; display: inline-block; width: 315px; height: 33px; line-height: 33px; background: #70acf6; border-radius: 44px; text-align: center; color: #fff; box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2); }
.top-tick a { color: #fff; }
.top-tick .glyphicon-remove { position: absolute; top: 10px; right: 10px; border-left: 1px solid #fff; cursor: pointer; padding-left: 10px; }

ul.list li { padding: 30px 0; border-bottom: 1px solid #ddd; }
ul.list li:last-child { border: 0; }
ul.list li .col-left { float: left; width: 380px; }
ul.list li .col-right { position: relative; float: right; }
ul.list li .col-right img { width: 190px; height: 125px; }
ul.list li h1 { font-size: 32px; line-height: 1.2em; max-height: 2.4em; margin-bottom: 10px; overflow: hidden; }
ul.list li .sub .source { padding: 5px 0 5px 30px; background: url("../images/icon-title.png") no-repeat left center; margin-right: 30px; }
ul.list li .sub .time { margin-right: 30px; }
ul.list li .pics { margin-bottom: 8px; }
ul.list li .pics a { float: left; margin-right: 6px; }
ul.list li .pics a img { width: 190px; height: 125px; }
ul.list li .big-pic { position: relative; margin-bottom: 8px; }
ul.list li .big-pic img { width: 100%; }
ul.list li .num { position: absolute; bottom: 7px; right: 7px; display: block; width: 90px; height: 40px; line-height: 40px; color: #fff; font-size: 16px; text-align: center; border-radius: 50px; background: rgba(0, 0, 0, 0.4); }

.search { position: relative; }
.search input { border: 1px solid #ccc; background: #f9f9f9; width: 348px; height: 38px; line-height: 38px; padding: 0 15px; }
.search a { position: absolute; top: 8px; right: 15px; color: #ccc; font-size: 18px; }

.col-side .area1 > div { margin-bottom: 6px; }
.col-side .area2 { width: 382px; }
.col-side .area2 a { display: inline; float: left; margin-right: 6px; margin-bottom: 6px; }
.col-side .area2 a:nth-child(3n) { margin-right: 0; }
.col-side .area2 a img { width: 123px; height: 97px; }
.col-side .area3 > div { float: left; margin-bottom: 6px; }
.col-side .area3 > div:nth-child(2n) { float: right; }
.col-side .area4 > div { float: left; margin-bottom: 6px; }
.col-side .area4 > div:nth-child(2) { float: right; }
.col-side .area5 > div { float: left; margin-bottom: 6px; }
.col-side .area5 > div:nth-child(2n) { float: right; }
.col-side .area6 > div { float: left; margin-bottom: 6px; }
.col-side .area6 > div:nth-child(3n+1) { margin-right: 6px; }
.col-side .area6 > div:nth-child(3n) { float: right; }
.col-side .area7 > div { float: left; margin-bottom: 3px; }
.col-side .area7 > div img { width: 124px; height: 45px; }
.col-side .area7 > div:nth-child(3n+1) { margin-right: 4px; }
.col-side .area7 > div:nth-child(3n) { float: right; }

.youqing .title { margin-top: 20px; font-size: 26px; font-weight: bold; padding-left: 30px; background: url("../images/icon-youqing.png") no-repeat left center; }
.youqing .link .row { font-size: 18px; margin: 15px 0; }
.youqing .link .row a { padding: 0 10px; border-right: 1px solid #ddd; }
.youqing .link .row a:first-child { padding-left: 0; }
.youqing .link .row a:last-child { padding-right: 0; border: 0; }

/*其它*/
h1.title { font-size: 26px; font-weight: bold; text-align: center; padding: 30px; border-bottom: 1px dashed #ddd; }

.sub-title { padding: 10px; text-align: center; }

.zw { font-size: 16px; }
.zw p { margin: 10px 0; text-indent: 2em; }

.zw-audio { width: 940px; margin: 0 auto; font-size: 16px; }
.zw-audio p { margin: 10px 0; text-indent: 2em; }
.zw-audio .jianjie { padding: 20px 40px; background: #fef4ea; }

.title2 { margin-top: 20px; border-bottom: 4px solid #e3e3e3; }
.title2 span.fleft { position: relative; top: 4px; height: 40px; line-height: 40px; border-bottom: 4px solid #f00; padding: 0 20px; font-size: 18px; }

ul.tj { padding: 0 50px; }
ul.tj li { padding: 50px 0; border-bottom: 1px solid #ddd; }
ul.tj li:last-child { border-bottom: 0; }
ul.tj li h1 { font-size: 26px; line-height: 1.2; margin-bottom: 35px; }
ul.tj li .sub span { margin-right: 30px; }
ul.tj li .sub span.ding { background: url("../images/iconfont-thumb.png") no-repeat left center; background-size: 20px; padding: 3px 0 3px 24px; }
ul.tj li .col-1 { float: left; width: 225px; }
ul.tj li .col-1 img { width: 225px; height: 125px; border: 1px solid #ddd; }
ul.tj li .col-2 { float: right; width: 820px; }
ul.tj li .pics { width: 120%; margin-bottom: 35px; }
ul.tj li .pics img { width: 225px; height: 125px; border: 1px solid #ddd; margin-right: 58px; }

.pad-pl { padding: 40px 50px; }

.title3 { font-size: 32px; font-weight: bold; margin-top: 30px; }
.title3 .red { color: #f00; }

.pl { padding: 45px 0; }

.col-avatar { float: left; width: 75px; }
.col-avatar img { width: 60px; height: 60px; border-radius: 60px; }

.col-r { float: left; width: 1000px; }
.col-r input[type="text"] { width: 800px; height: 56px; line-height: 56px; padding: 0 10px; border: 2px solid #3f404c; font-size: 26px; }
.col-r input[type="submit"] { width: 175px; height: 60px; line-height: 60px; background: #3f404c; color: #fff; font-size: 32px; border: 0; padding: 0; text-align: center; }

ul.comment li { padding: 20px 0; border-top: 2px solid #d9e3ed; font-size: 18px; line-height: 1.5; }
ul.comment li .talk { margin: 5px; }
ul.comment li .ding { padding: 4px 35px 4px 0; background: url("../images/icon-thumb2.png") no-repeat right center; }

span.more { display: block; height: 70px; line-height: 70px; text-align: center; font-size: 18px; background: #f0f0f0; cursor: pointer; }

/*# sourceMappingURL=style.css.map */
