.outwrap_picshow2 .description {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/picShow/halftransparent.png', sizingMethod='scale');
}
.outwrap_picshow2 li.cur .description {
	filter:none;
}
