.outwrap_picshow { width:1000px; margin:0 auto; text-align:center; border:0px solid #CCC; padding:0px;font-size:12px; }
.outwrap_picshow *{margin:0;padding:0;}
.outwrap_picshow .sliderContainer { width:1000px; height:240px; overflow:hidden; position:relative; }
.outwrap_picshow .slider{position:absolute;left:0;top:0;z-index:1;}
.outwrap_picshow .slider li { list-style:none; display:block;position:absolute;left:0;top:0;z-index:1;}
.outwrap_picshow .slider img { width:1000px; height:240px; display:block; border:0; }
.outwrap_picshow .sliderIcons { position:absolute; right:10px; bottom:10px; height:20px;z-index:2;}
.outwrap_picshow .sliderIcons li { list-style:none;float:left; width:20px; height:20px;cursor: pointer;background:#000;margin:0 3px;line-height:20px;text-align:center;color:#ccc;font-family:Arial;}
.outwrap_picshow .sliderIcons li.cur {background:#f00;color:#fff;}
.outwrap_picshow .description{height:40px; line-height:40px; color:#FFF;position:absolute; left:0px; bottom:0px; width:1000px;overflow:hidden; z-index:10; text-align:left;text-indent:10px;background-color:rgba(0,0,0,0.5);}
