.col_1523_1{width:670px;}
.col_1523_2{width:328px;} 
.box{border:1px solid #ccc;background:none;padding:0;}
.title{background:none;padding-left:10px;height:40px;line-height:40px;border-bottom:1px solid #ccc;}
.title .name{font-size:18px;}
.ul_1029 li{margin:10px 5px;}
