@import "common.css";

/*header*/
.toplink{height:30px;line-height:30px;background: #f5f5f5;}
.toplink .icons{display:inline;float:right;margin-top: 8px;margin-right: 450px;}
.toplink .icons a{display:inline;float:left;width:16px;height:16px;background:url(../images/icons.gif) no-repeat;margin-right:8px;line-height:1.5;}
.toplink .icons a.i1{background-position:0 0;}
.toplink .icons a.i2{background-position:0 -16px;}
.toplink .icons a.i3{background-position:0 -32px;}
.toplink .icons a.i4{background-position:0 -48px;}
.toplink .icons a.i5{background-position:0 -64px;padding-left:18px;width:auto;}
.logobar{height: 200px;line-height: 200px;background: #e63e3e;color: #fff;}
.logobar .big-font{font-size: 70px;font-family: "Microsoft YaHei",sans-serif;letter-spacing: 20px;}
footer{padding: 20px 0;}

/*其它*/
.mt{margin-top: 10px;}
.box{clear:both;border:1px solid #ddd;border-top: 0;}
.title{height:40px;line-height:40px;border-bottom: 1px solid #ddd;padding: 0 20px;
    background: url("../images/rainbow-bar.jpg") no-repeat left top;}
.title .name{display:inline;float:left;font-size:16px;font-family:"微软雅黑";color:#d00;}
.title .more{display:inline;float:right;}
.title .tags{display:inline;float:right;font-size: 14px;}
.title .tags a{display:inline;float:left;padding:0 10px;}
.title .tags a:hover{text-decoration:none;}
.title .tags a.cur{color: #f50;}
.title .fright{line-height: 32px;padding-top: 3px;}
.content{padding:10px;}

ul.video4{}
ul.video4 li{display: inline;float: left;width: 31%;margin: 5px 1.1%;height: 40px;}
ul.video4 a{display: block;border: 1px solid #ddd;height: 38px;line-height: 38px;}
ul.video4 a .icon{float:left;width: 30px;height: 38px;border-right: 1px solid #ddd;
    background: url("../images/icon_gb.gif") no-repeat center center;}
ul.video4 a .tt{padding: 0 10px;font-size: 14px;font-weight: bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
ul.video4 a:hover{background: #f0f0f0;}

ul.vlist{padding-top: 20px;}
ul.vlist li{display:inline;float: left;width: 160px;height: 160px;margin: 0 17px;}
